<section class="col align-center post-output">
  {{#each posts as |post|}}
  <div class="song-card w-full md:w-1/2 lg:w-1/3 bg-white shadow-md rounded-lg p-4 m-4">
    <p>{{author.username}} is listening to</p>
    <img src="{{post.album_cover}}" alt="{{post.album_name}} Cover" class="album-cover" />
    <h2>{{post.track}} - {{post.artist}}</h2>
    <p>{{post.album_name}}</p>
    {{#if post.comment}}
    <p class="comment">{{post.comment}}</p>
    {{else}}
    {{/if}}
  </div>
  {{/each}}
</section>