<section class="col align-center post-output">
  {{#each posts as |post|}}
    <div class="song-card">
      <p>{{post.track}}</p>
      <p>{{post.artist}}</p>
      <p>{{post.album_cover}}</p>
      <p>{{post.album_name}}</p>
      <p>{{post.comment}} by {{author.username}}</p>
    </div>
  {{/each}}
</section>