<form class="mt-20" id="postForm" action="/profile" method="POST">
  <h1 class="font-bold">What are you listening to?</h1>

  {{#each errors}}
    <p class="error text-center">{{this}}</p>
  {{/each}}

  <input
    class="profile_input"
    type="text"
    id="trackField"
    placeholder="What song are you listening to?"
    required
  />
  <br />
  <label class="track_selector font-bold" for="">Choose the correct version:</label>
  <select name="track" class="profile_input results"></select>
  <br />
  <p class="text-center font-bold"> Leave your comment below!</p>
  <input
    class="profile_input"
    type="text"
    id="commentField"
    name="comment"
    placeholder="Tell us what you think of it!"
  />
  <p class="text-center my-2">Character count: <span id="charCount">0</span>/100</p>
  <button
    id="submitBtn"
    class="text-white bg-gradient-to-r from-fuchsia-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center m-1"
  >Submit</button>
</form>

<h1 class="user-posts text-center font-bold mt-16">Your Posts</h1>
<section class="post-section mt-4 mx-auto text-center grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xxl:grid-cols-5 gap-6">
  {{#each posts as |post|}}
    <div class="song-card bg-white p-4 rounded-lg shadow-md">
      <p>{{author.username}} is listening to</p>
      <img
        src="{{post.album_cover}}"
        alt="{{post.album_name}} Cover"
        class="w-40 h-40 mx-auto my-1"
      />
      <h2>
        <span class="font-semibold">{{post.track}}</span>
        -
        {{post.artist}}
      </h2>
      <p>{{post.album_name}}</p>
      <p>
        <button class="audio-control-btn" data-audio="{{post.audio_url}}">
          <i class="fa-solid fa-play" style="color: #71d26a;"></i>
        </button><span class="ms-2">Play</span>
      </p>
      {{#if post.comment}}
        <p class="comment">{{post.comment}}</p>
      {{else}}
      {{/if}}
    </div>
  {{/each}}
</section>
