<div class="bg-white p-4 rounded shadow-md w-76 text-center mx-auto mt-4">
  <img src="/assets/images/Musik(5).png" alt="User Avatar" class="w-16 h-16 mx-auto rounded-full mb-2">
  <h1 class="text-xl font-semibold">{{user.username}}</h1>
  <p class="text-gray-500">{{user.email}}</p>
</div>
<form id="postForm" action="/profile" method="POST">
  <h1>What are you listening to?</h1>

  {{#each errors}}
  <p class="error text-center">{{this}}</p>
  {{/each}}

  <input class="profile_input" type="text" id="trackField" placeholder="What song are you listening to?" required />
  <label class="track_selector" for="">Choose the correct track:</label>
  <select name="track" class="results"></select>
  <input class="profile_input" type="text" id="commentField" name="comment"
    placeholder="Tell us what you think of it!" />
  <p class="charcount">Character count: <span id="charCount">0</span>/500</p>
  <button id="submitBtn"
    class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center m-1">Submit</button>
</form>

{{!-- <section class="col align-center post-output">
  {{#each posts as |post|}}
  <div class="song-card">
    <div class="flex items-center">
      <p>{{post.artist}} -</p>
      <p class="ml-1">{{post.track}}</p>
    </div>
    <p class="ml-2">{{post.album_name}}</p>
    <img src="{{post.album_cover}}" alt="{{post.album_name}}" class="w-40 h-40" />
    <p>{{post.comment}} by {{author.username}}</p>
  </div>
  {{/each}}
</section> --}}

<section class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mx-auto sm:mx-0">
  {{#each posts as |post|}}
  <div class="song-card bg-white p-4 rounded-lg shadow-md">
    <h2>{{post.artist}} - {{post.track}}</h2>
    <p>{{post.album_name}}</p>
    <img class="album_cover" src="{{post.album_cover}}" alt="{{post.album_name}} Cover" class="w-40 h-40" />
    <p>{{post.comment}} by {{author.username}}</p>
  </div>
  {{/each}}

</section>