<section class="song-list">
  <ul>
    {{#each tracks as |track|}}
      <li>
        <a href="/song?id={{track.id}}&comment={{comment}}">
          {{track.album.name}}
          -
          {{#each track.album.artists as |artist|}}
            {{artist.name}}
          {{/each}}
          <img
            src="{{track.album.images.0.url}}"
            alt="{{track.album.name}}"
            class="w-40 h-40"
          />
        </a>
        <hr />
      </li>
    {{/each}}
  </ul>
  <a href="/profile" class="underline">Didn't find what you were looking for?
    Click here to return.</a>
</section>